MONGODB_URI=mongodb+srv://USUARIO:CLAVE@cluster.mongodb.net/proyecto_bigdata?retryWrites=true&w=majority
MONGODB_DATABASE=proyecto_bigdata
MONGODB_COLLECTION=raw_data
MONGODB_PROCESSED_COLLECTION=processed_data
